.app__pagenation {
  display: flex;
  gap: 10px;

  height: 4rem;
  align-items: flex-end;
  margin-top: 2rem;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  background: #333333;
  .app__pagenation-btn {
    width: 2.5rem;
    border-radius: 50%;
    background: #fff;
    color: #333;
    font-weight: 800;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1 / 1;
    handleScroll &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }
    &.active {
      background-color: var(--secondary-color);
      color: #fff;
    }
  }
}
