@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&&family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --font-sec: " Edu VIC WA NT Beginner, cursive";
  /* --primary-color: #edf2f8;
  --secondary-color: #313bac; */
  /* --white-color: #ffffff; */
  --primary-color: #242132;
  --secondary-color: #746cfe;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --light-blue: #ae8cfa;
  --white-color: #fefcff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
body,
html {
  overflow-x: hidden;
}
